:root {
    --primary: #10c9c3;
}

#content-header {
    background-color: #f6f6f6;
}

#content-footer {
    background-color: #000000;

}

.img-gluid {
    width: 100%;
    height: auto;
}

.col-12 {
    padding: 0px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: rgba(16, 201, 195, 0.7);
    opacity: 0;
    z-index: 1;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
}

.img-container:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    top: 0px;
}

ul {
    padding: 0px;
    list-style-type: none;
    color: #b4b4b4
}

a.item-header:hover {
    color: var(--primary) !important;
}

a.item-header {
    color: rgb(57, 57, 57) !important;
    padding-right: 16px !important;
}

/* desktop */
@media only screen and (min-width: 992px) {
    #content-header {
        height: 280px;
    }

    #content-header p {
        width: 50%;
    }

    .col-4 {
        padding-left: 100px;
    }

    strong {
        font-size: 30px;
    }

}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #content-header {
        height: 250px;
    }

    strong {
        font-size: 18px;
    }

    li {
        font-size: 15px;
    }
}

/* tablet mini */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    strong {
        font-size: 18px;
    }

    li {
        font-size: 15px;
    }

    #navbarToggler {
        position: absolute;
        top: 56.5px;
        background-color: rgba(255, 255, 255, 0.8);
        left: 0px;
    }

    #content-header {
        height: 200px;
    }
}


/* mobile */
@media only screen and (max-width: 575px) {
    #content-footer {
        flex-wrap: wrap;
    }

    #first-column {
        margin-top: 20px;
    }

    #navbarToggler {
        position: absolute;
        top: 56.5px;
        background-color: rgba(255, 255, 255, 0.8);
        left: 0px;
    }

    #content-header {
        height: 200px;
    }
}